@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
body {
  margin: 0;
  font-family: "Raleway", serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: linear-gradient(to left, rgb(197, 171, 248), rgb(222, 212, 250)); */
  background-image: var(--image-gradient), url(./Assets/home-bg.jpg);

}
